# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environment ---
EnvPablo/

# --- Simulation Data ---
# The 10 million samples are way too big for Git
*.dat
*.csv
*.log
*.out
*.job
*.png
*.pth

# --- C/C++ Compiled Files ---
# Ignore the binaries you compile with gcc
*.o
*.so

# --- Project Specifics ---
.vscode/
.idea/

# --- Credentials & Secrets ---
.env