# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- Virtual Environment (Venv) ---
EnvPablo/

# --- Simulation Data (CRITICAL) ---
# The 10 million samples are way too big for Git
*.dat
*.csv
*.log
*.out
*.job

# --- C/C++ Compiled Files ---
# Ignore the binaries you compile with gcc
cooling_nb_5
*.o
*.so

# --- Project Specifics ---
.vscode/
.idea/

# --- Credentials & Secrets ---
.env