# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environment ---
EnvPablo/

# --- Simulation Data ---
Grackle_100yr/
Results/
Test_100yr/
Train_Stratified/
*.dat
*.log
*.job
*.png
*.pth
*.err
*.txt
*.sh

# --- C/C++ Compiled Files ---
# Ignore the binaries you compile with gcc
cooling-full-integration-100yr

# --- Additional Non-important Codes ---
train_ReLU.py
helpers/

# --- Project Specifics ---
__pycache__/